h1,h2,h3,h4,h5,p,a {font-family: "Helvetica", Trebuchet MS, sans-serif}
/*=========================== Top Header
=============================================*/
#topNav {border-radius:0px; background-color:#7f5200;height:30px;width:100%}
#topNav a {color:#332100; text-shadow: 0px 0px navy}
#carousel{width:100%;height:300px;overflow:hidden; ;margin-top:-20px;}
#c-image{width:100%; height:300px;padding:0px; background: url("../images/darkkeys.jpg") no-repeat top center;background-size:cover; }
#c-image img{width:30%; opacity: 0.9;margin:140px 0 0 150px;background-color:white;}
#tabs {border-radius:0px;background-color:#b27300 }
#tabs a {color:white;text-shadow: 0px 0px navy}
#tabs a:hover {background-color: transparent;border-top:2px solid #05070B}

#tabs .active {letter-spacing:1px;}
#content {padding:0px}

/*============================== Aside
=============================================*/
aside {background-color:inherit; }
aside ul {list-style: none}
aside li {margin-left:-40px;}
aside h2 {color:#b27300;opacity:0.8}
aside h4 {color:#363940;margin-bottom:30px;opacity:0.8}
aside li a {line-height:35px; color:#363940;padding-bottom:3px}
aside li :hover {text-decoration:none;color:#363940; border-bottom:2px solid #b27300; }

.aside_btn {background-color:#4A4D57;margin-top:130px}
.aside_btn a {color:white;text-align:center; padding:40px;margin-left:10px}
.aside_btn :hover {background-color: transparent;padding:40px;color:white}

#contact {background-color:#b27300;padding:1px;overflow: hidden;color:#fff;text-align: center;margin-top:30px}
#contact :hover {color:#fff; text-decoration:none; padding:0px; overflow: hidden}

/*============================== Home Tab
=============================================*/
.site_display {padding:10px;}
.site_display .caption {font-weight:500; text-align:center;height:20px}
.site_image {overflow:hidden;padding:0px;height:180px;}
.site_image img {width:100%;}
.site_display .caption a {color:#363940}

.contenthover { padding:20px 20px 10px 20px;text-align: center}
.contenthover, .contenthover h4, .contenthover a { color:#fff; }
.content_btn {padding:10px; background-color:#b27300; color:#fff;text-align: center;border-radius:5px;opacity:1.0}
.content_btn a {color:#fff;opacity:1}
.content_btn :hover {color:#fff; text-decoration: none}

/*=========================== Mock-Up Tab
============================================*/
#mocks h3 {color:#b27300;opacity:0.8}
#mocks .mockup_image {overflow:hidden;height:220px;}
#mocks .mockup_image img {width:100%}

/*=========================== Graphics
===========================================*/
#graphics h3 {color:#b27300;opacity:0.8}
.graphic_image img {width:100%}

/*==========================  Modal Window
==================================================*/
.modal-header {background-color:#b27300}
.modal-title {color:#fff; font-size:18px}
#contactform form h4 {font-size:14px}
#contactform form input {height:30px}
#contactform form textarea {padding:10px}
.modal-footer button, .modal-footer input {border:0; font-size:18px; padding:10px 10px 40px 10px}
.close {color:#fff}

/*============================ Soical Media Area
==================================================*/
#social-content {width:100%; background-color:#e5e5e5;overflow:hidden;padding-bottom:40px;margin:20px 0 0px 0}
#social-area {padding:30px}
#socialarea h3 {color:#b27300;opacity:0.8;margin-bottom:30px}
#socialarea ul {list-style:none}
#socialarea li {text-align:center}

/*============================  Footer
================================================*/
footer{width:100%;height:100px;background-color:#b27300;}

/*=========================== Pages
===============================================*/
#pages #content section h2 {letter-spacing:1px; color:#b27300;}
#pages #content section h5 {letter-spacing:2px;opacity:0.8}
#pages #content section a {color:#363940;opacity:0.8;letter-spacing:2px}
#pages #content section p img {width:100%}